In [1]:
# import
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

from pydtr.iqlearn.regression import IqLearnReg

# create sample dataframe
n = 10
thres = int(n / 2)
df = pd.DataFrame()
df["L1"] = np.arange(n)
df["A1"] = [0, 1] * int(n / 2)
df["A2"] = [0] * int(n / 2) + [1] * int(n / 2)
df["Y1"] = np.zeros(n)
df["Y2"] = np.zeros(n)

In [2]:
# set model info
model_info = [
    {
        "model": RandomForestRegressor(),
        "action_dict": {"A1": [0, 1]},
        "feature": ["L1", "A1"],
        "outcome": "Y1"
    },
    {
        "model": RandomForestRegressor(),
        "action_dict": {"A2": [0, 1]},
        "feature": ["L1", "A1", "Y1", "A2"],
        "outcome": "Y2"
    }
]
# fit model
dtr_model = IqLearnReg(
    n_stages=2,
    model_info=model_info
)
dtr_model.fit(df)

# predict optimal atcions
opt_action_stage_1 = dtr_model.predict(df, 0)
opt_action_stage_2 = dtr_model.predict(df, 1)
opt_action_all_stages = dtr_model.predict_all_stages(df)

Stage: 1
Stage: 0

In [4]:
df

   L1  A1  A2   Y1   Y2
0   0   0   0  0.0  0.0
1   1   1   0  0.0  0.0
2   2   0   0  0.0  0.0
3   3   1   0  0.0  0.0
4   4   0   0  0.0  0.0
5   5   1   1  0.0  0.0
6   6   0   1  0.0  0.0
7   7   1   1  0.0  0.0
8   8   0   1  0.0  0.0
9   9   1   1  0.0  0.0

In [5]:
opt_action_all_stages

     A1   A2  row_id  stage  val
0     0  NaN       0      0  0.0
1     0  NaN       1      0  0.0
2     0  NaN       2      0  0.0
3     0  NaN       3      0  0.0
4     0  NaN       4      0  0.0
5     0  NaN       5      0  0.0
6     0  NaN       6      0  0.0
7     0  NaN       7      0  0.0
8     0  NaN       8      0  0.0
9     0  NaN       9      0  0.0
10  NaN    0       0      1  0.0
11  NaN    0       1      1  0.0
12  NaN    0       2      1  0.0
13  NaN    0       3      1  0.0
14  NaN    0       4      1  0.0
15  NaN    0       5      1  0.0
16  NaN    0       6      1  0.0
17  NaN    0       7      1  0.0
18  NaN    0       8      1  0.0
19  NaN    0       9      1  0.0